<template name="grabTube">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." {{b "value : Term"}}>
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" {{b "enable : readyForSearch,click : doSearch"}}>
                        Search
                    </button>
                  </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="col-md-1">
            <input type="number" class="form-control" {{b "value : Page"}}/>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" {{b "click : ClearAll"}}>Clear All</button>
        </div>
    </div>
    <div class="row">
        {{#each TubeSites}}
            <div class="col-md-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" {{b "value : this.search, group : selectedTubes"}}>
                        <label {{b "text : this.name"}}></label>
                    </label>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Source</td>
                        <td>Thumbnail</td>
                        <td>Title</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#if videos}}
                        {{#each videos}}
                            {{> grabTube_item}}
                        {{/each}}
                    {{/if}}
                    <tr {{b "if: isSearching"}}>
                        <td colspan="2" class="text-center">
                            <h2><i class="fa fa-spinner fa-pulse fa-5"></i></h2>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<template name="grabTube_item">
    <tr>
        <td><strong>{{source}}</strong></td>
        <td><a href="{{href}}" target="_blank"><img alt="{{title}}" src="{{thumbnail}}"/></a></td>
        <td><span>{{title}}</span></td>
    </tr>
</template>