<template name="listGayPorns">
    <div class="row section">
        <div class="col-md-12 col-lg-8 ">
            <div class="input-group">
                <input type="text" id="txtVideoUrl" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Fetch Video
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="btn-xtube">Xtube</a></li>
                            <li><a href="#" class="btn-redtube">Redtube</a></li>
                        </ul>
                    </div>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <div class="row section">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row section">
        <div class="col-md-12">
            {{> reactiveTable collection=collection fields=fields settings=settings}}
        </div>
    </div>
</template>

<template name="gay_controls">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Controls
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#" class="btn-download">Download</a></li>
            <li class="divider"></li>
            <li><a href="#" class="btn-reGetInfo">Re Fetch</a></li>
            <li class="divider"></li>
            <li><a href="#" class="btn-watermark-1">Watermark malecams</a></li>
            <li><a href="#" class="btn-watermark-2">Watermark tubechat</a></li>
            <li><a href="#" class="btn-watermark-3">Watermark desixxx</a></li>
        </ul>
    </div>
</template>